# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated data
collector/raw_logs/
alerts/findings.json

# Python cache
.pytest_cache/

# Redis
dump.rdb